<!-- File: src/main/resources/templates/visits/sign-in.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Visit Sign-In</title>
</head>
<body>
    <h2>Student Visit Sign-In</h2>
    <form th:action="@{/visits/sign-in}" method="post">
        <p>
            <label for="student">Student:</label>
            <select name="student">
                <option th:each="student : ${students}" 
                        th:value="${student.id}" 
                        th:text="${student.firstName} + ' ' + ${student.lastName}"></option>
            </select>
        </p>
        <p>
            <label for="course">Course:</label>
            <select name="course">
                <option th:each="course : ${courses}" 
                        th:value="${course.id}" 
                        th:text="${course.courseName}"></option>
            </select>
        </p>
        <p><input type="submit" value="Sign In"/></p>
    </form>
    
</body>
</html>
